TexturesXMLExporter/cloc-1.62.exe

TexturesXMLExporter/Debug/
TexturesXMLExporter/Release/

TexturesXMLExporter/TexturesXMLExporter/Debug/
TexturesXMLExporter/TexturesXMLExporter/Release/
TexturesXMLExporter/TexturesXMLExporter/TexturesXMLExporter/
TexturesXMLExporter/TexturesXMLExporter.opensdf
TexturesXMLExporter/TexturesXMLExporter/textures.xml
TexturesXMLExporter/TexturesXMLExporter/Textures/
TexturesXMLExporter/TexturesXMLExporter/exp_thumbs/